@model StudentCreateViewModel

<h1>Create New Student</h1>

@* <form action="/Student/New" method="post" enctype="multipart/form-data"> *@
<form asp-action="New" asp-controller="Student" enctype="multipart/form-data">
    <partial name="_StudentForm"/>
    
    <br />
    <button type="submit" class="btn btn-primary">Create</button>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}